@{
    ViewBag.Title = "Index";
}

<h2>Work</h2>
<div class="first" style="text-align:left"><img src="http://tinyurl.com/qeemlqf"width="400px" height="400px"/></div><div class="second" style="text-align:right"><img src="http://tinyurl.com/qeemlqf" width="400px" height="400px" /></div>
<div class="third" style="text-align:left"><img src="http://tinyurl.com/qeemlqf" width="400px" height="400px" /></div><div class="fourth" style="text-align:right"><img src="http://tinyurl.com/qeemlqf" width="400px" height="400px" /></div>
